
body{
    position: absolute;
    width: 100%;
    height: 100%;
}

#conf_body{
    display: table;
    width: 100%;
    height: 100%;

    margin-top: -60px;
    padding-top: 60px;

    margin-bottom: -70px;
    padding-bottom: 70px;

    text-align: center;

    background: repeating-linear-gradient(
        45deg,
        #FFF,
        #FFF 10px,
        #F7F7F7 10px,
        #F7F7F7 13px
    )
}

#ui_con{
    display: table-cell;
    vertical-align: middle;
}

#ui_row{
    height: 300px;
}

#ui_box{
    height: 100%;
    background-color: white;
    border: 5px solid #ffcd00;
    border-radius: 75px;
}

#mic_wave{
    height: 100px;
    width: 70%;
}

.recording{color: blue;}